 <!DOCTYPE html>
<html>
<head>
<body>  

<a href="/p" style="margin-top:25px;" class="btn btn-primary">Create Profile</a>
<span ng-controller="LogoutController" style="float:right;padding-top:25px;">
<a href="/logout" ng-click='logout()' class="btn btn-danger fa fa-sign-out">Logout</a>
  </span>
</div>

<h1><center>Welcome Create Your Profile </center></h1>
<div class="well well-lg text-center">
<marquee bgcolor="">"Great Power Comes with Great Responsibility"</marquee>
</div>

</div>
</script>

</body>
</html>
