
     
</div>

     <div class="jumbotron text-center">-->
      <h1><center><strong><marquee>{{ tagline }}</marquee><strong></center></h1>
            
                  
                  </div>
                  <h1>Steps To Create Profile :-</h1>
                  <ol>
                    <li><h3>First Register Yourself.</h3> </li>
                    <li><h3>Login with registerd ID and Password.</h3> </li>
                    <li><h3>Click Create Profile Button.</h3> </li>
                    <li><h3>After Click Create Profile Button You can also see other profiles.</h3> </li>
                    <li><h3>Also Create Profile link in left side which helps to create profiles.</h3> </li>
                    </ol>

                </div>
            </div>
          </div>
           </div>
